.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Login {
    background-image: url(/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.Login-Form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Row-Display {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.Rom-Form {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Card-Actions-Right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.Column-Display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.Column-Form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Card-List {
    width: 25%;
}

.List {
    width: 50%;
}
